
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
}
.navbar {
    height: 2em; 
    list-style-type: none;
    padding: 0;
    background-color: rgb(69, 68, 68);
    MARGIN : 5PX;
}

.navbar li {
    display: inline-table;
    margin-right: 20px;
    text-align: justify;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
nav ul {
    list-style: none;
    padding: 0; 
}

nav li {
    display: inline;
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px;
}

header, footer, main {
    clear: both;
}

section {
    width: 70%;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
}

aside {
    margin-right: 15%;
    float: right;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}


.bordered-table {
    border-collapse: collapse;
    width: 100%;
}

.bordered-table, .bordered-table th, .bordered-table td {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.bordered-table th, .bordered-table td {
    padding: 8px;
    text-align: left;
}


.image-link {
    transition: transform 0.3s;
}

.image-link:hover {
    transform: scale(1.1); 
}


.larger-image {
    width: 23%; 
    float: left;
    margin-right: 20px;
}


.image-and-text p {
    width: 100%; 
}


.image-and-text:after {
    content: "";
    display: table;
    clear: both;
}



/* For screens smaller than 768px (e.g., smartphones and tablets) */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for better readability on small screens */
    }

    header {
        padding: 10px; /* Increase padding for better spacing on small screens */
    }

    .navbar, aside ul {
        text-align: left; /* Set the text alignment to left for both the navbar and aside lists */
    }

    .navbar li, aside li {
        display: list-item; /* Display navigation items as blocks */
        margin: 10px 0;
    }

    .navbar a, aside a {
        display: list-item; /* Display navigation links as blocks for better touch targets */
        padding: 10px; /* Add padding for touch-friendly spacing */
    }

    main {
        padding: 10px;
    }

    section {
        width: 100%; /* Full width for content on small screens */
    }

    aside {
        display: none; /* Hide the aside on small screens */
    }

    .larger-image {
        width: 100%; /* Full width for images on small screens */
        float: none; /* Clear the float */
        margin-right: 0;
    }

    .image-and-text p {
        width: 100%; /* Full width for text on small screens */
    }
}
